@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title:#001A49;
}


body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;/*creacion de bordes*/
    max-width: auto;/*ancho maximo de 1200 pixeles*/
    margin: 0 auto;/*se centre verticalemtenn*/
    overflow: hidden;/*que todo lo que salga del contorno se esconda*/
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: auto;
    max-width: auto;
    position: relative;
    display:grid;
    grid-template-rows: 100px 1fr;  
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%,#0000008c 100%),url(../imagenes/andy-holmes-LUpDjlJv4_c-unsplash.jpg);/*capa de trasparencia con fondo*/
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 95%, 0 80%);
    z-index: -1;
    

}
/*NAV*/

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_tittle{
    font-weight: 300;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;/*para que pongan una al lado de la otra*/
    grid-auto-columns: max-content;/*mira por defecto su maximo contenido*/
    gap: 2em;/*espacio entre cada link*/
}

.nav_items{
    list-style: none;
}


.nav_links{
    color: #fff;
    text-decoration: none;
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;/*pasar mause y se active el cursor*/ 
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

/*hero container*/

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;/*para que no ocupen mas de lo que deberia*/  
    align-content: center;/*quiero que el contenido se alinea verticalmente*/
    gap: 1em;/*espaciado de 1 em*/
    padding-bottom: 100px;/*para que no se pegue al recorte*/
    text-align: center;  
}

.hero_title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;/*margen mas grande que el parrafo de arriba*/
}

.cta{
    display: inline-block;
    background-color: #2091f9;/*color de relieve al cta o boton*/
    justify-self: center;/*que el color se centre*/
    color: #fff;
    text-decoration: none;/*quita delineado de la letra */
    padding: 13px 20px;
    border-radius: 30px;
}

/*about*/

.about{
    text-align: center;
}

.subtittle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;/* espaciado con el parrafo*/
    display: grid;
    width: 90%;
    margin: 0 auto;/*centrar contenedor*/
    gap: 1em;
    overflow: hidden;/*todo lo que salga se econda*/
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));/*columnas dinamicas que se repita tantas columnas posible con minimo de pixelkes a un maximo de auto y se re acomode dependiendeo del dispositivo*/
}
.abou__icons{
    display: grid;
    gap: 1em;/*espaciado de cada elemento*/
    justify-items: center;/*centrar horizontalmente*/
    width: 260px;
    overflow: hidden;/*para que todo lo que salga de este elemento se borre*/
    margin: auto;/*se centre*/
}

.about__icon{
    width: 40px;
}

/*KnowLEdge*/

.knowledge{
    background-color: #e5e5f7;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;/*Textura fondo para que se vea mejor*/
overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;

}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/*Price*/
.price{
    text-align: center;/*centrar el texto*/
}

.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;/*Se desborda los elementos contenidos para que esten mejor ordenados*/
    gap: 2.5em;/*espacio entre contenido div*/
    justify-content: space-evenly;/*esapcio equitativamente hacia toda las esquinas horizontalmente*/
    align-items: center;/*centrar verticalmente*/
}

.price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price:#1D293f;
    --bg-cta :#fff;
    --color-cta:#5454d4;
    --color-items:#696871;
}
.price_element--best{
    width: 360px;
    padding: 60px 40px;
    background-color: #ff7143;
    --color-plan: rgba(255 255 255 /75%);
    --color-price:#fff;
    --bg-cta :#9F3919;
    --colore-cta:#fff;
    --color-items:#fff;

}

.price_name{
    color: var(--color-plan);/*llamo */
    margin-bottom: 15px;/*margenes*/
    font-weight: 300;/*margenes*/
}

.price_price{
    font-size: 2.5rem;
    color: var(--color-price);  
}

.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600p;
    color: var(--colore-cta);
    box-shadow: 0 0 1px rgba(0,0,0, .5);
}

/*testimony*/

.testimony{
    background-color: #e5e5f7;/*EL bloque de section se ponga en blanco*/
}


.testimony_container{/*contenedor del slider*/
    display: grid;/*hace que el conternido este en cuadriculas para cada contenedor o slider*/
    grid-template-columns: auto auto auto;/*se crea 3 columnas para que esten ordenadas el contenedor o slider y sean auto para que se acomoden automaticamente*/
    gap: 1em;/*espaciado de 1em */
    align-items: center;/*todo contenido se centre verticalmente*/
}

.testimony_body{/*contenido del testimonio e imagen de la persona*/
    display: grid;/*separo por contenido en cuadriculas*/
    grid-template-columns: 1fr max-content;/*organizo por columnas (caja de texto e imagen) */
    justify-content: space-between;/*el contenido se vaya a las esquinas*/
    align-items: center;/*se centre verticalmente*/
    gap: 2em;/* espacio entre ellas de 2 em*/
    grid-column: 2/3;/*se ordena en capa */
    grid-row: 1/2;/*que no haya espacio entre cada columna*/
    opacity: 0;/*sin opacidad*/
    pointer-events: none;/*para que no se puedan seleccionar con el mause*/
}
.testimony_body--show{
    pointer-events: unset;/*para que baya a la propiedad original, osea testimonuy_body*/
    opacity: 1;/*qiue tenga opacidad*/
    transition: opacity 1.5s ease-in-out;/*qie se pueda mover con opacidad para que haya traslado o movimiento*/
}

.testimony_img{/*imagen*/
    width: 250px;/*anchura */
    height: 250px;/*altura*/
    border-radius: 50%;/*redondear la imagen*/
    object-fit: cover;/*para que no se distorcione la imagen*/
    object-position: 50% 30%;/*se pociciona en X y Y*/
}

.testimony_texts{
    max-width: 700px;/*para no revarzar el ancho deltestimony_body*/
}
.testimony_sourse{/*span*/
    background-color: royalblue;/*color sombreado en azul*/
    color: #fff;/*color de letras*/
    display: inline-block;/*para poderle dar valores independientes a la barra azul*/
    padding: 5px;/*sobresalga en los bordes*/
}

.testimony_arrow{
    width: 90%;/*anchura*/
    cursor: pointer;/*para que se note el cambio de cursor*/
}

/* question*/
.questions{
    text-align: center;
}

.questions_container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}
.questions_padding{
    padding: 0;
    transition: padding .2s;
    border: 1px solid #5454d4;
    border-radius: 6px;
}

.questions_padding--add{
    padding-bottom: 30px;
}
